---
layout: default
title: "Types of Testing"
permalink: /types-of-testing/
---

<nav class="breadcrumbs">
  <a href="/">🏠</a> &gt;
  <span class="current">Types of Testing</span>
</nav>

<br/><br/>

<h2 class="post-title" style="font-size: 40px; line-height: 34px; text-align: center;">Showing posts for:</h2>
<h2 class="post-label" style="margin-top: 50px; font-size: 37px; line-height: 30px; text-align: center; margin-bottom: 50px;">Types of Testing</h2>

{% assign software_posts = site.posts | where_exp: 'post', 'post.categories contains "Types of Testing"' %}

<div id="related-posts-cat">
  {% for post in software_posts %}
    <a href="{{ post.url | relative_url }}" class="category-card">
      {% if post.image %}
        <img
          class="related-img"
          src="{{ post.image | relative_url }}"
          alt="{{ post.title }}"
          loading="lazy"
        />
      {% endif %}
      <div class="category-title">
        {{ post.title }}
      </div>
    </a>
  {% endfor %}
</div>

<style>
  /* Container: flex grid, wraps into rows */
  #related-posts-cat {
     display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  width: 1025px;
  font-weight: 900;
  flex-wrap: wrap;	
  margin: 0 auto;

  }

  /* Each card: 4 per row */
  .category-card {
    text-decoration: none;
    text-align: center;

    box-sizing: border-box;
  }

  .category-card img {
      width: 250px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;

  }

  .category-title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
</style>
